/*@font-face {
	font-family: "KawkabMono";
	font-style: normal;
	font-weight: 300;
	src: local("KawkabMono Light"), local("KawkabMono-Light"),
		url(fonts/KawkabMono-Light.woff2) format("woff2"),
		url(fonts/KawkabMono-Light.woff2) format("woff");
}

@font-face {
	font-family: "KawkabMono";
	font-style: normal;
	font-weight: 400;
	src: local("KawkabMono Regular"), local("KawkabMono-Regular"),
		url(fonts/KawkabMono-Regular.woff2) format("woff2"),
		url(fonts/KawkabMono-Regular.woff2) format("woff");
}

@font-face {
	font-family: "KawkabMono";
	font-style: normal;
	font-weight: 700;
	src: local("KawkabMono Bold"), local("KawkabMono-Bold"),
		url(fonts/KawkabMono-Bold.woff2) format("woff2"),
		url(fonts/KawkabMono-Bold.woff2) format("woff");
}*/
body {
  margin: 0;
  font: 14px/1.4 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  text-rendering: geometricPrecision;
}
.verse {
    text-align: center;
    background-color: #efefef;
    color: #000;
    font-weight: bold;
}
tr.clause td {
    width: 50%;
    vertical-align: baseline;
}
td.ar {
    direction: rtl;
    font-size: 2.2em;
    font-family: 'Droid Arabic Naskh',serif!important;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 1em;
    margin: 0 auto 1em;
}
tr.clause td {
    width: 50%;
    border: 1px solid #ccc;
    padding: 5px 15px 10px;
}
.verse td {
    padding: 0.3em;
    font-size: 1.5em;
}
h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 3em;
}
@media only screen and (min-width: 1100px) {
	table {
	    width: 60%;
	}
}
small {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}
.full-verse td {
    padding: 0.3em 0.6em;
    font-family: 'Droid Arabic Naskh',serif!important;
    direction: rtl;
    font-size: 2.2em;
    background-color: aliceblue;
    border-top: 1px solid #ccc;
}
select {
    margin: 1em auto;
    display: block;
    font-size: 2em;
    max-width: 90vw;
    font-weight: 700;
    padding: 0.2em;
    border: 1px solid #ccc;
}
option {
    font-weight: 700;
}
td.en {
    font-size: 1.2em;
    font-weight: 500;
}
button {
    font-size: 1.5em;
    margin-bottom: 1em;
    padding: 1em;
    max-width: 50%;
}
.hidden {
    display: none;
}
.buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    justify-content: center;
}
@media only screen and (min-width: 640px) {
.buttons {
    justify-content: space-around;
}
button {
    font-size: 2em;
}
}
